<!DOCTYPE html>
<html>
  <head>
    <title>Artist Index</title>
  </head>
  <body>
    <h1>All Artists</h1>
      <% Artist.all.each do |artist|%>
        <li><a href="_site/artist/<%= artist.url %>"><%= artist.name %></a></li><% end %>
  </body>
</html>