<!DOCTYPE html>
<html>
  <head>
    <title>Genre Index</title>
  </head>
  <body>
    <h1>All Genres</h1>
      <% Genre.all.sort_by!{|x|x.name.downcase}.each do |genre|%>
        <li>
          <a href="genre/<%= genre.url %>">
            <%= genre.name.capitalize %></a>
            Songs : <%= genre.songs.size %>
          </li><% end %>
        <h2><%= Genre.all.size %> total genres</h2>
  </body>
</html>